<%= form_for(my_thread) do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :overview %>
  <%= f.text_field :overview %>
</div>
<div class="action">
  <%= f.submit %>
</div>
  <% end %>
